<h1>Salut, c'est {{user_info.name}} ({{user_info.username}})</h1>
<p>
<h2>Petite présentation<h2>
Valentin, {{user_info.age}} Ans, Passioné d'Informatique et de bidouillage.<br/>
J'ai commencé la programmation à l'age de 12 Ans en créant des plugins M    inecraft en Java et depuis je me suis mis à toucher à tout même si il reste mon jeu favori.
</p>

<h2>Mes Languages et Outils Favoris</br></h2>
<p>
{{#languages}}
<img src="{{&.}}" />
{{/languages}}
</p>

<p align="center">
<img src="https://github-readme-stats.vercel.app/api?username=NEXOmega&amp;show_icons=true" />
<img src='https://random-memer.herokuapp.com/' title="Meme" alt="Please refresh the page if the meme doesn't show up.">
</p>