<h1>Bienvenu sur mon compte Github</h1>
<p>
Je m'appelle {{user_info.name}} ({{user_info.username}}), je développe depuis l'age de 12 Ans.
</p>

<p>
<h3>Mes languages </br></h3>
{{#languages}}
<img src="{{&.}}" />
{{/languages}}
</p>

<p>
[![NEXOmega's GitHub stats](https://github-readme-stats.vercel.app/api?username=NEXOmega)]
[![Top Langs](https://github-readme-stats.vercel.app/api/top-langs/?username=NEXOmega&layout=compact)]

</p>